body {
    font-family: "Microsoft YaHei";
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
}

/****************************** index.html(中环路) *****************************************/

.central {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    min-height: 504px;
    width: 100%;
    height: auto;
    background-color: #445263;
    color: #fff;
}

.central img {
    display: block;
}

.central-body {
    padding: 0 15px;
}

.central-body p {
    text-indent: 2em;
    text-align: justify;
    line-height: 2;
}

.central-footer {
    padding: 15px 15px 30px;
}

.central-footer ul li {
    padding: 5px 0;
}

.central-footer ul li a {
    display: block;
    color: #fff;
    padding: 8px 4px 8px 0;
    border-bottom: #36424f 1px solid;
    font-size: 14px;
}

.central-footer ul li a span {
    text-align: right;
}

.central-footer ul li a span em {
    font-family: "宋体";
    margin: 0 0 0 10px;
    font-weight: bold;
}

/****************************** index01.html(立交篇) *****************************************/
.central01 {
    padding: 15px 15px 30px;
}

.central01 h1 {
    font-size: 20px;
    margin: 0 0 15px 0;
}

.central01 .central01-img {
    margin: 0 -15px;
}

.central01 .content {
    padding: 15px 0;
}

.central01 .content h2, .central01 .content h3 {
    font-size: 16px;
    margin: 0 0 5px 0;
}

.central01 .content p {
    line-height: 1.8;
    text-align: justify;
}

/****************************** index02.html(匝道篇) *****************************************/
.central02 {
    padding: 15px 0 30px;
}

.central02 h1 {
    font-size: 20px;
    margin: 0 0 15px 15px;
}

.central02 .central02-img {
    padding: 0 15px;
}

/****************************** index03.html(内中环连接点篇) *****************************************/
.central03 {
    padding: 15px 15px 30px;
}

.central03 h1 {
    font-size: 20px;
    margin: 0 0 15px 0;
}

.central03 .content {
    padding: 15px 0;
}

.central03 .content p {
    line-height: 1.8;
    text-align: justify;
}

.central03 .content.content1 {
    padding: 0 0 15px;
    text-indent: 2em;
}

/****************************** index04.html(周边景点篇) *****************************************/
.central04 {
    padding: 15px 15px 30px;
}

.central04 h1 {
    font-size: 20px;
    margin: 0 0 15px 0;
}

.central04 h2, .central04 h3, .central04 h4 {
    font-size: 16px;
}

.central04 .content {
    padding: 15px 0;
}

.central04 .content p {
    line-height: 1.8;
    text-align: justify;
}

.central04 .content.content1 {
    padding: 0 0 15px;
}

/****************************** index06.html(交通安全篇) *****************************************/
.central06 {
    padding: 15px 15px 30px;
}

.central06 h1 {
    font-size: 20px;
}

.central06 .content {
    padding: 15px 0;
}

.central06 .content p {
    line-height: 1.8;
    text-align: justify;
}

.central06 .content p.tips {
    color: #fff6a6;
}

.central06 .content p.font16 {
    font-size: 16px;
    margin: 5px 0 0;
}

/****************************** index05.html(中环西线节点篇) *****************************************/
.central05 {
    padding: 15px 15px 30px;
}

.central05 h1 {
    font-size: 20px;
}

.central05 .content {
    padding: 15px 0;
}

.central05 .content p {
    line-height: 1.8;
    text-align: justify;
}

.central05 .content p.tips {
    color: #fff6a6;
    margin: 5px 0 0;
}
