body {
    font-family: "Microsoft YaHei";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
}

/****************************** index.html(天空之城音乐会在线杀价销售) *****************************************/

.sky {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    min-height: 504px;
    width: 100%;
    height: auto;
    background-color: #42cfe1;
}

.sky img {
    display: block;
}

.sky .sky-body {
    padding: 0 15px 15px;
}

.sky-body .sky-describe p {
    color: #fff;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.8;
}

.sky-body .sky-content {
    background-color: #fff;
    margin: 0 0 20px;
    position: relative;
}

.sky-body .sky-content .sky-info {
    padding: 15px 16px 10px;
}

.sky-body .sky-content .sky-info h2 {
    font-size: 15px;
    margin-bottom: 5px;
}

.sky-body .sky-content .sky-info p {
    color: #a0a0a0;
}

.sky-body .sky-content .sky-info .original-price {
    color: #ff1212;
    margin: 2px 0 0;
}

.sky-body .sky-content .sky-info .original-price .fl {
    width: 50%;
    height: 30px;
    line-height: 30px;
}

.sky-body .sky-content .sky-info .original-price .fl strong {
    font-size: 18px;
}

.sky-body .sky-content .sky-info .original-price .fl del {
    color: #a0a0a0;
}

.sky-body .sky-content .sky-submit {
    padding: 0 10px 15px;
}

.sky-body .sky-content .sky-submit .sky-group {
    display: none;
}

.sky-body .sky-content .sky-submit .sky-group .submit-bargain {
    float: left;
    width: 48%;
    font-size: 16px;
    color: #fff;
    background-color: #ff3737;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 4px;
}

.sky-body .sky-content .sky-submit .sky-group .submit-refresh {
    display: none;
    float: left;
    width: 48%;
    font-size: 16px;
    color: #fff;
    background-color: #2a9eb6;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 4px;
}

.sky-body .sky-content .sky-submit .sky-group .submit-buy {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: #ff993e;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 4px;
}

.sky-body .sky-content .sky-submit p {
    color: #fff;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
}

.sky-body .sky-link {
    display: block;
    font-size: 14px;
    color: #59e7f7;
    padding: 0 0 18px;
}

.sky-body .sky-rules h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sky-body .sky-rules p {
    line-height: 1.8;
    text-align: justify;
}

.sky-footer {
    padding: 25px 15px;
    border-top: #666 1px dashed;
}

.sky-footer .code img {
    width: 46.2%;
    margin: 0 auto;
}

.sky-footer .code p {
    color: #fff;
    text-align: center;
    margin-top: 8px;
}

.sky-footer .download {
    padding: 15px 0 5px;
}

.sky-footer .download a {
    display: block;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
    color: #000;
}

/****************************** 弹出框 *****************************************/

.sky-modal .close {
    font-size: 36px;
    margin-top: -6px;
}

.sky-modal .modal-body {
    padding: 20px 15px;
}

.sky-modal .dialog .dialog-content:nth-child(2) {
    margin-top: 10px;
}

.sky-modal .dialog .dialog-content label {
    display: inline-block;
    width: 21%;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
}

.sky-modal .dialog .dialog-content .form-control {
    display: inline-block;
    width: 77%;
}

.sky-modal .modal-footer {
    text-align: center;
}

.sky-modal .modal-footer .btn {
    padding: 8px 20px;
}