* {
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    background-color: #000;
}

/****************************** android.html(无线阳泉android手机下载页面) *****************************************/

.wireless {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    min-height: 504px;
    width: 100%;
    height: auto;
    position: relative;
}

.wireless img {
    display: block;
}

.wireless-header {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}

.wireless-header img {
    width: 62%;
    margin: 0 auto;
}

.wireless-body {
    position: absolute;
    bottom: 97px;
    left: 0;
    width: 100%;
}

.wireless-body .android {
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.wireless-body .android img {
    width: 24%;
    margin: 0 auto;
}

.wireless-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #f0f0f0;
    letter-spacing: 2px;
    padding: 10px;
}
