body {
    font-family: "Microsoft YaHei";
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
}

/****************************** index.html(汽车经理人沙龙) *****************************************/

.car {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    min-height: 504px;
    width: 100%;
    height: auto;
    position: relative;
}

.car img {
    display: block;
}

.car .car-body {
    position: relative;
}

.car .car-body .car-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 40px 0;
    width: 100%;
}

.car-content .group {
    margin: 0 0 5px;
    border: #ccc 1px solid;
    border-radius: 4px;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 0 4px #ccc;
}

.car-content .group input {
    border: none;
    background: none;
    width: 100%;
    height: 26px;
    line-height: 26px;
    margin: 7px 0;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.car-content .group .submit {
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    color: #eeecf0;
    letter-spacing: 2px;
    text-align: center;
    font-size: 16px;
    background: #040101;
    background: linear-gradient(top, #444 0, #040101 100%);
    background: -moz-linear-gradient(top, #444 0, #040101 100%);
    background: -webkit-linear-gradient(top, #444 0, #040101 100%);
    background: -o-linear-gradient(top, #444 0, #040101 100%);
    background: -ms-linear-gradient(top, #444 0, #040101 100%);
}

/****************************** 媒体查询 *****************************************/
@media screen and (min-width: 360px) {
    .car .car-body .car-content {
        padding: 18px 50px 0;
    }
    .car-content .group {
        margin: 0 0 8px;
    }
}

@media screen and (min-width: 414px) {
    .car .car-body .car-content {
        padding: 28px 50px 0;
    }
    .car-content .group {
        margin: 0 0 10px;
    }
}

@media screen and (min-width: 480px) {
    .car .car-body .car-content {
        padding: 40px 50px 0;
    }
    .car-content .group {
        margin: 0 0 15px;
    }
}































