body {
    font-family: "Microsoft YaHei";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
}

/****************************** index.html(童年囧照大征集) *****************************************/

.photo {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    min-height: 504px;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.photo img {
    display: block;
}




