body {
    font-family: "Microsoft YaHei";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
}

/****************************** index.html(鲜客蓝莓首页) *****************************************/

.fruit {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    min-height: 504px;
    width: 100%;
    height: auto;
    background-color: #fc5070;
    color: #fff;
}

.fruit img {
    display: block;
}

.fruit-body a {
    display: block;
}

.fruit-body .content1 {
    padding: 0 15px;
    background-color: #3d87ec;
}

.fruit-body .content2 {
    padding: 0 15px;
    background-color: #fcd847;
}

.fruit-body .content3 {
    padding: 0 15px 30px;
    background-color: #fc5070;
}

.fruit-body .content1, .fruit-body .content2, .fruit-body .content3 {
    position: relative;
}

.fruit-body .fruit-total {
    position: absolute;
    top: 12px;
    right: 15px;
    background-image: url(../img/num.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 97px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
}

.fruit-body .fruit-total span {
    margin: 0 2px;
}

/****************************** buy.html(水蜜桃购买页) *****************************************/
.container.pd0 {
    padding: 0;
}

.order-btn {
    position: fixed;
    top: 170px;
    right: 0;
    background-image: url(../img/order.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 102px;
    height: 45px;
    z-index: 99999;
    cursor: pointer;
}

.fruit-buy {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    min-height: 504px;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
}

.fruit-buy .fruit-buy-header {
    background-color: #fff;
}

.fruit-buy-header .carousel-indicators {
    bottom: 0;
}

.fruit-buy-header .carousel-indicators li {
    background-color: #fff;
    border: none;
    margin: 1px 3px;
}

.fruit-buy-header .carousel-indicators li.active {
    background-color: #ff3737;
}

.fruit-buy-header .content {
    padding: 15px;
}

.fruit-buy-header .content h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.fruit-buy-header .content span {
    display: inline-block;
    background-image: url(../img/postage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 58px;
    height: 30px;
    position: relative;
    left: 12px;
    top: 8px;
}

.fruit-buy-header .content p {
    color: #adadad;
    line-height: 1.8;
}

.fruit-buy-body {
    background-color: #fff;
    margin: 5px 0;
    padding: 15px;
}

.fruit-buy-body .group .group-lbl {
    float: left;
    width: 15%;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

.fruit-buy-body .group .group-control {
    float: left;
    width: 85%;
}

.fruit-buy-body .group .group-control.fruit-buy-package ul li {
    float: left;
    border: #b4b4b4 1px solid;
    padding: 9px 6px;
    margin-right: 20px;
    width: 130px;
    text-align: center;
    margin-bottom: 5px;
    line-height: 20px;
    cursor: pointer;
}

.fruit-buy-body .group .group-control.fruit-buy-package ul li:last-child {
    margin-right: 0;
}

.fruit-buy-body .group .group-control.fruit-buy-package ul li.active {
    border: #ff3737 1px solid;
    position: relative;
}

.fruit-buy-body .group .group-control.fruit-buy-package ul li.active span {
    position: absolute;
    background-color: #ff3737;
    color: #fff;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    line-height: 10px;
    display: inline-block;
    top: inherit;
    font-size: 8px;
    text-align: center;
}

.fruit-buy-body .group .group-control.fruit-buy-package p {
    color: #f00;
    margin: 5px 0 10px;
    display: none;
}

.fruit-buy-body .group .group-control.fruit-buy-package p.selected {
    display: block;
    text-align: justify;
}

.fruit-buy-body .group .group-control.fruit-buy-number ul li.minus, .fruit-buy-body .group .group-control.fruit-buy-number ul li.plus {
    float: left;
    border: #b4b4b4 1px solid;
    background-color: #dcdcdc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.fruit-buy-body .group .group-control.fruit-buy-number ul li.num {
    float: left;
    width: 60px;
    height: 40px;
    line-height: 40px;
    border-top: #b4b4b4 1px solid;
    border-bottom: #b4b4b4 1px solid;
    text-align: center;
}

.fruit-buy-body .group .group-control.fruit-buy-number ul {
    float: left;
}

.fruit-buy-body .group .group-control.fruit-buy-number ul li span {
    color: #797979;
}

.fruit-buy-body .group .group-control.fruit-buy-number .total-price {
    float: right;
    color: #ff3737;
    height: 40px;
    line-height: 38px;
    font-size: 14px;
}

.fruit-buy-footer {
    background-color: #fff;
    padding: 15px 15px 20px;
}

.fruit-buy-footer .ipt-group {
    border-radius: 4px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    padding: 10px 15px;
    font-size: 14px;
}

.fruit-buy-footer .ipt-group .ipt-control {
    border: none;
    background-color: #f0f0f0;
    display: inline-block;
    width: 84%;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

.fruit-buy-footer .ipt-group.select-padding {
    padding: 0 0 20px;
    height: 50px;
    line-height: 50px;
    position: relative;
    box-sizing: border-box;
}

.fruit-buy-footer .ipt-group.select-padding label {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 3;
}

.fruit-buy-footer .area {
    background-color: #F0F0F0;
    border-radius: 4px;
    padding: 15px;
}

.fruit-buy-footer .tips {
    color: #ff3737;
    margin-top: 5px;
}

.fruit-buy-footer .area textarea {
    background: none;
    border: none;
    resize: none;
    width: 100%;
}

.fruit-buy-footer .submit-buy {
    display: block;
    color: #ffffff;
    background-color: #ff7e00;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    padding: 12px 0;
    margin-top: 20px;
    letter-spacing: 1px;
}

.fruit-buy-footer2 {
    background-color: #fff;
    padding: 15px 15px 30px;
    margin: 5px 0 0;
}

.fruit-buy-footer2 dl dt {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.fruit-buy-footer2 dl dd {
    line-height: 1.8;
    text-align: justify;
}

/****************************** order.html(订单查询) *****************************************/
.fruit-order {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    min-height: 504px;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
}

.fruit-order .fruit-order-header {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 15px;
}

.fruit-order .fruit-order-header .fruit-order-contact {
    font-size: 14px;
}

.fruit-order-contact .consignee {
    float: left;
}

.fruit-order-contact .mobile {
    float: right;
}

.fruit-order .fruit-order-header .fruit-order-time {
    color: #adadad;
    margin-top: 10px;
}

.fruit-order .fruit-order-body {
    background-color: #fff;
}

.fruit-order .fruit-order-body .fruit-order-item {
    padding: 15px;
    border-bottom: #f0f0f0 1px solid;
    color: #adadad;
}

.fruit-order-item .item-img {
    float: left;
    width: 20%;
}

.fruit-order-item .item-txt {
    float: left;
    width: 60%;
    padding-left: 10px;
}

.fruit-order-item .item-txt .title {
    color: #000;
    font-size: 14px;
}

.fruit-order-item .item-txt .content {
    text-align: justify;
}

.fruit-order-item .item-price {
    float: left;
    width: 20%;
    text-align: right;
}

.fruit-order-item .item-price .price {
    color: #ff4b04;
}

@media screen and (min-width: 360px) {
    .fruit-buy-footer .ipt-group .form-group-select {
        width: 73%;
    }
}

@media screen and (min-width: 414px) {
    .fruit-buy-footer .ipt-group .form-group-select {
        width: 76%;
    }
}

@media screen and (min-width: 480px) {
    .fruit-buy-footer .ipt-group .form-group-select {
        width: 79%;
    }
}

@media screen and (min-width: 640px) {
    .fruit-buy-footer .ipt-group .form-group-select {
        width: 85%;
    }
}